{% extends "base.html" %}

{% block content %}
    <h1>Search Results - Showing 10 per page</h1>
    {% for post in posts %}
        <article class="media content-section">
            <a href="{{ url_for('user', username=post.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"></a>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
                    <p class="article-content"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.content }}</a></p>
                    <small class="text-muted">{{ post.date_posted.strftime('%a, %d, %B %Y %I:%M%p') }}</small>
                </div>
            </div>
        </article>
        
    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>
                    {{ _('Previous results') }}
                </a>
            </li>
            <li class="page-item next{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    {{ _('Next results') }}
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}